header {
  .main-btn,
  .main-btn :link,
  .main-btn :visited {
    padding: 10px;
    background: white;
    color: rgb(114, 0, 111);
    border-radius: 60px;
    text-decoration: none;
    transition: all 0.3s;
    display: inline-block;
    font-size: 16px;
    font-weight: 800;
  }
  .main-btn {
    &:hover {
      transform: translateY(-5px);
    }
    &:active {
      transform: translateY(-1px);
    }
  }
}
